body.portfolioBody{
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #F0F2F0;

}
.portfolioLinks{
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolioHeader{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 64px;
  font-weight: 300;
  color: #424242;
}
.portfolioLink{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  /* width: auto;
  display:block;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%; */
}
.portfolioLinkImage img{
  /* float: none; */
  /* margin: auto; */
  padding-top: 0px;
  height: 350px;
  width: auto;
}
.portfolioLink h1{
  /* height: 50px; */
  padding-top: 0px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 48px;
  font-weight: 300;
  color: #424242;
}

@media screen and (max-width: 641px){
  body.portfolioBody{
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .portfolioHeader{
    padding-top: 30px;
    font-size: 48px;
  }
  .portfolioLinks{
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolioLink{
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolioLinkImage img{
    padding-top: 0px;
    height: 200px;
    width: auto;
  }
  .portfolioLink h1{
    font-size: 32px;
  }
}
